@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*:focus,
*:focus-within {
    outline-color: #548BC5;
}

html,
body {
    min-height: 100vh;
    min-height: 100svh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: hsl(204, 33%, 97%);
    padding-inline: 2.5rem;
    font-family: 'Lato', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding-block-end: 1.75rem;
    border-block-end: 0.125rem solid #E0E6EA;
    max-width: 85rem;
    margin: 1.75rem auto;
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-inline-start: auto;
    list-style: none;
}


nav li>a {
    text-decoration: none;
    color: hsl(211, 35%, 17%);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00063rem;
}

nav li:not(:last-of-type)>a:hover {
    text-decoration: underline;
}

nav li:last-of-type a {
    display: inline-block;
    border-radius: 0.375rem;
    border: 2px solid hsl(213, 10%, 44%);
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
}

nav li:last-of-type:hover a {
    color: hsl(0, 0%, 100%);
    background: hsl(209, 85%, 13%);
}

@media (max-width:768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
        margin-inline-start: 0;
    }
}

/*Skip nav to main content*/
.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: #1D2C3C;
    color: white;
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    top: 0;
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 5rem;
}

main .checkout {
    display: flex;
    flex-wrap: wrap;
    max-width: 55.75rem;
    border-radius: 0.375rem;
    gap: 0;
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 5px 15px 0px hsla(0, 0%, 0%, 0.05), 0px 15px 35px 0px hsla(204, 29%, 24%, 0.1);
    overflow: hidden;
}

.checkout>.checkout-form {
    color: hsla(211, 35%, 17%, 1);
    flex: 3;
}

.checkout>.checkout-info {
    flex: 1;
    background: hsla(204, 84%, 41%, 1);
    color: hsl(0, 0%, 100%);
    padding-inline: 2.75rem;
    padding-block: 2.5rem;
}

.checkout-form>header {
    padding-inline: 3rem;
    padding-block-start: 2.5rem;
    padding-block-end: 1.5rem;
    border-bottom: 2px solid #F5F7FA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkout-form {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-form>header {
    align-self: flex-start;
}


.checkout-form form>section {
    padding-inline: 3rem;
    padding-block-start: 2.2rem;
    padding-block-end: 2.5rem;
}

form>section {
    border-block-end: 2px solid #F5F7FA;
}

form>section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>section .user_info {
    display: flex;
    gap: 1.75rem;
    flex-wrap: wrap;
}

form>section .user_info>label {
    flex: 1;
}

form>section label {
    color: #1D2C3C;
    font-weight: 400;
    line-height: normal;
}

form>section:first-of-type input {
    background-color: #EDEFF2;
    border: none;
    border-radius: 0.25rem;
    padding-block: 0.5rem;
    padding-inline-start: 0.8rem;
    margin-block-start: 0.45rem;
}

form>section .card_input input {
    border: none;
    padding-block: 0.5rem;
    padding-inline-start: 0.8rem;
    border-radius: 0;
    background: transparent;

}


form>section .user_info>label:last-of-type {
    flex: .75;
}

form>section .card_input {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0.45rem;
    border-radius: .25rem;
    background: #EDEFF2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* .card_input input */
.card_input input:focus {
    outline: none;
}

.card_input:focus-within {
    outline-width: 2px;
    outline-style: solid;
}

.card_input input:nth-child(1) {
    /* flex: 1; */
    margin-inline-end: auto;
}

.card_input :nth-child(2) {
    /* flex: .5; */
    max-width: 4rem;
}

.card_input :nth-child(3) {
    /* flex: .25; */
    max-width: 3rem;
}

.checkout-form form>section>header {
    color: #1D2C3C;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01rem;
    display: flex;
    gap: .63rem;
    align-items: center;
    margin-block-end: 1.25rem;
}

.checkout-form form header>span {
    border: 2px solid #548BC5;
    color: #548BC5;
    font-size: initial;
    width: 1.875rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.checkout-form label {
    display: flex;
    flex-direction: column;
}

form>section button {
    margin-block-end: 1.5rem;
    margin-inline: auto;
    padding-block: 0.75rem;
    display: block;
    width: 100%;
    max-width: 30rem;
    border-radius: 0.3125rem;
    background: hsl(173, 96%, 28%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
}

.checkout-form .help {
    display: flex;
    gap: 0.63rem;
    margin-block-end: 2rem;
    color: #646E7A;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.00063rem;
}

.checkout-form .help span {
    color: #1D2C3C;
    font-weight: 700;
}


.checkout-info .plan_price {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00094rem;
    display: flex;
    align-items: start;
    margin-top: .35rem;
}

.checkout-info .plan_price>p:first-of-type {
    font-size: 1.5rem;
}

.checkout-info .plan_price span {
    font-size: 3.75rem;
    font-weight: 300;
}

.checkout-info p.italic {
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.0005rem;
}

.checkout-info .plan_benefits {
    margin-block-start: 2.25rem;
}

.checkout-info .plan_benefits p::before {
    content: url(./assets/check_mark.svg);
    margin-inline-end: 1ch;
    vertical-align: middle;
}

.checkout-info .plan_switch {
    margin-block-start: 2.38rem;
    /* margin-block-end: 2.56rem; */
}

.plan_switch>strong {
    position: relative;
}

.plan_switch>strong::after {
    content: '';
    width: 100%;
    border: hsla(189, 100%, 86%, 0.5) 2px solid;
    position: absolute;
    top: 16px;
    left: 0;
}


.checkout-info hr {
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    margin-block: 2.56rem;
}

.checkout-info .quote {
    font-style: italic;
    font-size: 1.125rem;
    margin-block-end: 1rem;
}

.checkout-info .quoter {
    display: flex;
    gap: 0.87rem;
    align-items: center;
    font-weight: 700;
}

.checkout-info .quoter img {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

footer p {
    margin-block-start: 2.5rem;
    margin-block-end: 5rem;
    color: #636B6F;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
}

footer p span {
    color: #31708F;
}



@media (max-width:768px) {
    main .checkout {
        flex-direction: column;
    }

    form>section .user_info {
        gap: .75rem;
    }

    form>section .user_info>label:last-of-type {
        flex: 1;
    }
}